.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.TaskOptionsButton {
    -fx-background-color: linear-gradient(to bottom right, #2b5876, #4e4376);
    -fx-text-fill: white;
}

.TaskOptionsButton:hover {
    -fx-background-color: linear-gradient(to bottom right, #264f6a, #463c6a);
}

.TaskOptionsPane {
    -fx-border-color: linear-gradient(to bottom right, #2b5876, #4e4376)
     linear-gradient(to bottom right, #2b5876, #4e4376)
     linear-gradient(to bottom right, #2b5876, #4e4376)
     linear-gradient(to bottom right, #4e4376, #2b5876);

    -fx-border-width: 5;
    -fx-border-style: hidden solid solid solid ;
    -fx-background-color: #181818;
}

.TaskOptionsTextBox {
    -fx-background-color: #282828;
    -fx-text-fill: white;
}

/* Create Task Button From Task Viewer  */
#CreateTaskButton {
    -fx-background-color: linear-gradient(to bottom right, #2b5876, #4e4376);
    -fx-text-fill: #2a2a2a;
}

#CreateTaskButton:hover {
    -fx-background-color: linear-gradient(to bottom right, #264f6a, #463c6a);
}

#CreateTaskButton:select {
    -fx-background-color: linear-gradient(to bottom right, #1e3d52, #362e52);
}

/* Lists View Close Button */
#CloseListsViewPane:hover {
    -fx-background-color: #2a2a2a;
}

/* List Title in Task Viewer */
.ListTitleName {
    -fx-text-fill: linear-gradient(to bottom right, #2b5876, #4e4376);
}

/* Each Tasks Header */
.TitledPane .title{
    -fx-background-color: #202020;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 5;
    -fx-border-color: linear-gradient(to bottom right, #2b5876, #4e4376);;
}

.TitledPane .title .text{
    -fx-fill: #A9A9A9;
}

.TitledPane .title .arrow-button .arrow{
    -fx-background-color: linear-gradient(to bottom right, #2b5876, #4e4376);
}

/* Removes Border Here */
.TitledPane > *.content {
    -fx-border-width: 0;
}


/* COMPLETE TASK DESIGN */
/* -------------------- */
.TitledPaneComplete .title{
    -fx-background-color: gray;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 5;
    -fx-border-color: linear-gradient(to bottom right, #2b5876, #4e4376);;
}

.TitledPaneComplete .title .text{
    -fx-fill: #A9A9A9;
}

.TitledPaneComplete .title .arrow-button .arrow{
    -fx-background-color: linear-gradient(to bottom right, #2b5876, #4e4376);
}

/* Removes Border Here */
.TitledPaneComplete > *.content {
    -fx-border-width: 0;
}

/* SELECTED TASK DESIGN */
/* -------------------- */
.TitledPaneSelected .title{
    -fx-background-color: #202020;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 5;
    -fx-border-color: linear-gradient(to bottom right, #2b5876, #4e4376);;
}

.TitledPaneSelected .title .text{
    -fx-fill: #A9A9A9;
}

.TitledPaneSelected .title .arrow-button .arrow{
    -fx-background-color: linear-gradient(to bottom right, #2b5876, #4e4376);
}

/* Removes Border Here */
.TitledPaneSelected > *.content {
    -fx-border-width: 0;
}


/* Due Date on Task */
.TitleDueDate {
    -fx-text-fill: #A9A9A9;
}


/* For our text area -- only in descriptions as of now */
.text-area {
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-text-fill: white;

    /* Cool looking border effect! */
    -fx-border-color: linear-gradient(to bottom right, #2b5876, #4e4376)
     linear-gradient(to bottom right, #2b5876, #4e4376)
     linear-gradient(to bottom right, #2b5876, #4e4376)
     linear-gradient(to bottom right, #4e4376, #2b5876);

    -fx-border-width: 5;
    -fx-border-style: hidden solid solid solid ;
    -fx-border-left-color: red;

    }

    .text-area .content{
        -fx-background-color: #181818;
        -fx-border-color: #181818;
}

.TaskDescriptionText {
    -fx-background-color: #181818;
}

/* Scroll pane in Task Viewer */
.scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: #202020;
}

.scroll-pane .scroll-bar:vertical{
    -fx-background-color: #2a2a2a;
}

.scroll-pane {
    -fx-background-color: transparent;
}

/* Lists viewer pane */
.ListsPane {
    -fx-background-color: linear-gradient(to bottom right, #152c3b, #27213b);
}

/* List item in Lists Viewer Pane */
.ListsPaneItem {
    -fx-border-style: hidden hidden solid hidden ;
    -fx-border-width: 1;
    -fx-background-color: linear-gradient(to bottom right, #1e3d52, #362e52);
}

.ListsPaneTitle {
    -fx-background-color: linear-gradient(to bottom right, #152c3b, #27213b);
    -fx-border-style: hidden hidden solid hidden ;
    -fx-border-width: 1;
}

.ListsPaneTitle .text {
    -fx-fill: white;
}

/* Handles hover over list in Lists Viewer Pane */
.ListStack:hover {
    -fx-background-color: linear-gradient(to bottom right, #11232f, #1f1a2f);
}

.TaskContainer {
    -fx-background-color: #2a2a2a;
}